
body {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    background-color: #ddd;
    font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
    font-size: 13px;
    color: #333;
}

/* Links */
h1 {
    font-size: 28px;
    color: #000;
}

a  {color: #03c}
a:hover {
    background-color: #03c;
    color: white;
    text-decoration: none;
}

/* container */
#content {
    background-color: white;
    padding: 25px;
    text-align: left;
}

.outer_box {
        width: 1024px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border: 0;
}
